# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Local development settings
.env
venv/
venv

# Compiled Python files
*.pyc

# Distribution / packaging
dist/
build/
*.egg-info/
*.egg

.DS_Store

# models
*.sav
*.bin